# Dependências do Node
node_modules
npm-debug.log
yarn-error.log

# Logs
*.log

# Configurações locais
.env
.DS_Store

# Pasta de build (Expo/React Native)
.expo/
.expo-shared/
web-build/
dist/
build/

# Cache e temporários
.tmp/
.cache/
.idea/
.vscode/
Thumbs.db

# Arquivos de sistema
*.swp
*.swo

# Configurações do Expo
.expo/*
